<h2>My Package</h2>

<table class="table">
     <thead>
      <tr>
      <th scope="col">ID</th>
      <th scope="col">Destination</th>
      <th scope="col">Date</th>
      <th scope="col">Class</th>
      </tr>
    </thead>
     <tbody>
          <% var i=0;persons.forEach(function(model) {
          i++;
           %>
        <tr>
        <td>><%= i %></td>
        <td><%=model.cityname%></td>
        <td><%=model.packagedate%></td>
        <td><%=model.packageclass%></td>
        </tr>
      <% }); %>
    </tbody>
</table>
